body{
  padding:0;
  margin: 0;
}

.container{
  
  margin-left: 30%;
  text-align: justify;
}

h1{
 
  font-weight: bolder;
  font-size: 2.5rem;
  display: inline;
}

button{
  margin-left: 14rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
  border: transparent;
  border-radius: 8%;
}

.heading{
  margin-bottom: 2.5rem;
}

h2{
  margin-bottom: -1rem;
}